target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log
*.sqlite
*.sqlite3

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/

# macOS
.DS_Store
